.article-warp , .pl-warp{
  margin-left: 60px;
  padding-left: 30px;
}
.article-warp h1{
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: 500;
  text-align: left;
}

.article-warp .article-author{
    position: relative;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
    color: #b4b4b4;
}

.article-author .author-name a{
  color: #000000;
}
.article-author .author-name a:hover{
  color:#3ca5f6;
}
.article-author .article-time{
  margin: 0 10px 0 10px;

}
.article-author .article-share{
    margin: 0 10px 0 10px;
}
.article-author .article-pl{

}

.article-warp .article-content p{
  text-align: left;
  font-size: 16px;
  line-height: 30px;
}

/*评论区*/
/*评论表单区*/
.pl-warp .pl-form-warp{
  text-align: left;
}
.pl-form-warp .pl-form-title{
  width: 72px;
  height: 24px;
  box-sizing: border-box;
  font-size: 18px;
  border-bottom: 3px solid #ff0000;
}

.pl-form-warp .pl-form-author{
  margin: 20px 0 20px 0;
}

.pl-form-box .pl-form{
}
.pl-form-box .btn-tj{
  width: 148px;
  height: 48px;
  background-color: #038cfc;
  color: #ffffff;
  font-size: 18px;
  line-height: 38px;
  border: 1px solid #038cfc;

}
.pl-form-box .pl-form-textarea{
  width: 100%;
  height: 194px;
  resize: none;
}

/*评论作者*/
.pl-warp .author-info{
}
.pl-warp .author-info .author-face{
  width: 100%;
  height: 50px;
  font-size: 14px;
}
.pl-warp .author-info .author-icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  vertical-align:middle;
}
.pl-warp .author-info .author-name{

}
.pl-warp .author-info .time{
  color: #bbb;
  vertical-align: middle;
  margin-left: 20px;
}

/*评论列表区*/
.pl-list-warp{
  font-size: 14px;
}
.pl-list-warp .pl-list-tab{
  text-align: left;
  margin-top: 30px;
  padding:0 0 30px 0;
  border-bottom: 1px solid #b1b1b1;
}
.pl-list-warp .pl-list-tab .pl-list-tab-a{
  font-size: 18px;
  line-height: 20px;
  color: #a3a49e;
}
.pl-list-warp .pl-list-tab .pl-list-tab-a:hover{
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.pl-list-warp .pl-list-tab .active{
  color: #000000;
}



.pl-box-warp .pl-box-top{
  margin-top: 30px;
  text-align: left;

}

.pl-box-warp .pl-box-top .pl-content{
    box-sizing: border-box;
    padding: 20px 0;
}

.pl-box-warp .pl-box-top .dp-box{
    padding: 10px 0 0 16px;
    font-size: 16px;
    background: #f6f6f6;
}

.pl-box-warp  .dp-box .dp-box-top{
  padding: 0 0 20px 0;
}

.pl-box-warp  .dp-box .hf-user{
  padding: 18px 0 20px 0;
  border-top: 1px solid #f0f0f0;
  border-radius: 5px;
}
.pl-box-warp  .dp-box .author-icon{
  border-radius: 50%;
}
.pl-box-warp  .dp-box .time{
    display: inline-block;
    padding: 18px 20px 0 0;
    color: #bbb;
    font-size: 14px;
}
.pl-box-warp .dp-box .hf-btn{
  margin: 18px 0 0 80px;color: #bbb;
}

.pl-box-warp .hf-user .link{
  font-size: 14px;
  color: #bbb;
}
.pl-box-warp .hf-user .link:hover{

  color: rgb(0, 0, 0);
}



.pl-box-warp .pl-box-btm .pl-btn{
  width: 120px;
  padding: 20px 0 0 0;
  text-align: left;
}

.pl-box-warp .pl-box-btm .pl-btn .link {
  color: #bbb;
}
.pl-box-warp .pl-box-btm .pl-btn .link:hover{
  color: #3da9f7;
  text-decoration: underline !important;
}

.pl-box-warp .pl-box-btm .pl-likes{
  position: absolute;
  bottom: 0;
  right: 0px;
}
.pl-box-warp .pl-box-btm .pl-likes li{
  margin-right: 10px;
}

/*icon*/
.icon{
	background: transparent url(../img/icon.png) no-repeat scroll;
	width: 25px;
	height: 25px;
	display: inline-block;
	position: relative;
	top: 8px;
}
.icon-line{
	background-position:-145px -1px;
}
.icon-ver{
		background-position: -378px -10px;
}

.icon-pen {
    background-position: -170px -173px;
}
.icon-like{
  background-position: -220px -173px;
  cursor: pointer;
}
.icon-like:hover{
  background-position: -220px -223px;
}
.icon-unlike{
  background-position: -270px -171px;
  cursor: pointer;
}
.icon-unlike:hover{
  background-position: -270px -221px;
}
/*function*/
.f-fl{
  float: left;
}
.f-fr{
  float: right;
}
.f-dib{
  display: inline-block;
}
.f-pr{
  position: relative;
}
