.article-warp , .pl-warp{
  margin-left: 60px;
  padding-left: 30px;
}
.article-warp h1{
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: 500;
  text-align: left;
}

.article-warp .article-author{
    position: relative;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
    color: #b4b4b4;
}

.article-author .author-name a{
  color: #000000;
}
.article-author .author-name a:hover{
  color:#3ca5f6;
}
.article-author .article-time{
  margin: 0 10px 0 10px;

}
.article-author .article-share{
    margin: 0 10px 0 10px;
}
.article-author .article-pl{

}

.article-warp .article-content p{
  text-align: left;
  font-size: 16px;
  line-height: 30px;
}

/*评论区*/
/*评论表单区*/
.pl-warp .pl-form-warp{
  text-align: left;
}
.pl-form-warp .pl-form-title{
  width: 72px;
  height: 24px;
  box-sizing: border-box;
  font-size: 18px;
  border-bottom: 3px solid #ff0000;
}

.pl-form-warp .pl-form-author{
  margin: 20px 0 20px 0;
}

.pl-form-box .pl-form{
}
.pl-form-box .btn-tj{
  width: 148px;
  height: 48px;
  background-color: #038cfc;
  color: #ffffff;
  font-size: 18px;
  line-height: 38px;
  border: 1px solid #038cfc;

}
.pl-form-box .pl-form-textarea{
  width: 100%;
  height: 194px;
  resize: none;
}

/*评论作者*/
.pl-form-warp .author-info{

}

/*评论列表区*/



/*icon*/
.icon{
	background: transparent url(../img/icon.png) no-repeat scroll;
	width: 25px;
	height: 25px;
	display: inline-block;
	position: relative;
	top: 8px;
}
.icon-line{
	background-position:-145px -1px;
}
