/*bootstrap 样式本地调整*/
.navbar{
    margin-bottom: 10px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
}
/*reset*/

html,body{
    height: 100%;
}
ul{
    list-style: none;
    padding-left: 10px;
}
/*侧边拦*/
.g-sidebar{
    float: left;
    width: 250px;
    height: 100%;
    /*background-color: red;*/
}
.g-sidebar .m-sidemenu{
    background-color: #f8f8f8;
}




.g-main{
    margin-left: 250px;
    padding-left: 10px;
    height: 500px;
    /*background-color: blue;*/
}





/*icon*/

.i-icon{

}

.i-icon-user-off{
    display: inline-block;
    background: transparent url('../img/小黄人off.png') no-repeat scroll;
    width: 20px;
    height: 20px;
}


.i-icon-user-on{
    display: inline-block;
    background: transparent url('../img/小黄人on.png') no-repeat scroll;
    width: 20px;
    height: 20px;
}
